@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #1c1917; /* stone-900 fallback */
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}
